body {
    background-color: linen;
    padding-left: 50px;
    padding-right: 1px;
}
h1 {
    color: maroon;
    font-size: 4em;
    margin: auto;
    align-content: center;
    text-align: left;
}
th {
    padding: 10px 10px 10px 10px;
}
div {
    padding-bottom: 20px;
    padding-right: 10px;
}
.names {
    display: inline-block;
}