html * {}
body   {font-family: serif; font-size: 24px;margin-left: 290px; margin-right: 280px; margin-top: 70px;margin-bottom: 200px;background-color:azure;border-top-width: thick}

div          {color:gray;}
div.document {}
div.title    {}
div.content  {font-size: 20px; font-kerning: normal}
div#menuBar  {}
div#text     {}
div#sidebar  {}
div#bottom   {}

h1 {font-family: helvetica; color:teal; font-variant: small-caps;padding-top: 20px;
    padding-bottom: 0px; 
}

h3 {font-family: helvetica;color:teal; font-variant: small-caps}

p {color:darkslategrey;opacity: 0.9; font-style:italic}

ul             {}
ul#menuBarList {}
li             {}
li.menuBarItem {font-variant: small-caps; color:aquamarine}

.document    {border-color: aqua}
.title       {}
.content     {}
.menuBarItem {}

#menuBar     {}
#menuBarList { height: px;
    background-color: cadetblue}
#text        {}
#sidebar     {}
#bottom      {color:teal;font-variant: small-caps; 
   
}
