body {
    font-size: 1em; 
    padding-bottom: 50px;
    margin: 5px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif
}

li a:hover {
    background-color: teal;
}
header {
    
    background-color: teal; 
    
}

img {
    display: block;
    margin: auto;
    padding-top: 0;
    
}

h1 {
    font-size: 3em; padding: 10px 180px; font-family: Impact, Charcoal, sans-serif; color: darkslategrey; font-kerning: normal;   
}
#para1 {
    padding: 10px 230px; font-family: "Georgia", serif; line-height: 150%;
}

#para2 {
    padding: 10px 230px; font-family: "Georgia", serif; line-height: 150%;
}

.definition {
    padding: 10px 130px; font-family: "Georgia", serif;  font-size: 1.4em; font-style: italic; text-align: center; font-weight: 800; color: teal;
}
.form {
    padding-top: 50px; padding-bottom: 700px;
    
}