#one {
    text-align: center;
    color: red;
	background-color: black;
	font-size: 50px;
}


#two {
    text-align: center;
    color: red;
	background-color: #ffe7dc;
	font-size: 30px
}
#two:hover { 
    text-align: center;
    color: red;
	background-color: #ffe7dc;
	font-size: 50px;
	font-weight: bold;
}

#three {
    text-align: center;
    color: red;
	background-color: lightblue;
	font-size: 40px;
}
#three:hover { 
    text-align: center;
    color: red;
	background-color: lightblue;
	font-size: 50px;
	font-weight: bold;
}